
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/teste_tecnico

SECRET_KEY=sua_chave_secreta_aqui

MOCK_BANK_URL=http://localhost:8001
SQS_QUEUE_URL=http://localhost:4566/000000000000/proposals-queue

ENVIRONMENT=development